{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1>WebCrawler <small>Enter your target!</small></h1>

        <form action="{{ url_for('process') }}" method="post" id="crawler">
            <div class="form-group">
                <label for="inputTarget" class="sr-only">Website Address :</label>
                <input type="text" name="website" id="inputTarget" class="form-control" placeholder="https://esgi.fr" required autofocus>
            </div>
            <button class="btn btn-success" type="submit">Process!</button>
        </form>

        <hr/>
        <h3>Options : </h3>
            <button id="saveData" class="btn btn-light disabled">Save results</button>
            <!--<button id="getStats" class="btn btn-info" data-toggle="modal" data-target="#modalShowAnalytics">Show analytics</button>-->
            <a href="{{ url_for('static', filename='last-research.json') }}" class="btn btn-success">Download last research</a>
            <a href="{{ url_for('static', filename='all-research.json') }}" class="btn btn-success">Download all research</a>
            <a href="#" onclick="return deleteData();" class="btn btn-danger">Delete data</a>

        <h3>Results : </h3>
        <ul class="list-group" id="scrapdiv">

        </ul>

    </div>

    <div id="modalSaveResult" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Save logs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Save success, you can found your last data an all last data in the folder of your application with :
                </p>
                <ul class="list-group">
                    <li class="list-group-item">all-research.json : contains all research of your crawler</li>
                    <li class="list-group-item">last-research.json : contains last research of your crawler</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>
    <div id="modalDelete" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete logs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    File successfully deleted
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block javascript %}
<script>
    date = [];
    data = [];
    function deleteData()
    {
        if(prompt('Do you want really delete the data ?')){
            $.get('{{ url_for('deletefiles') }}', function(data){
                $('#modalDelete').modal('show');
            });
        }
        return false;
    }
    /*$('#getStats').click(function(){
        let jsonObjectResponse = [];
        $.get(' url_for('getalldata') }}', function(data){
            jsonObjectResponse = data;
            console.log(JSON.parse(jsonObjectResponse));
            $.each($.parseJSON(data), function(index, obj){
                setData(obj.date);
            })
        });
            date = [];
            data = [];

            /*$.each($.parseJSON(jsonObjectResponse), function(index, obj){
                dataSearch = obj.month + '-' + obj.day + '-' + obj.year;
                console.log(dataSearch);

            });
            console.log(data);

    });

var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: 'use by day',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});*/
</script>
    <script>

        $(document).ready(function(){

            $( "#crawler" ).submit(function( event ) {
                // FR - HELP On empêche l'envoie du formulaire par le navigateur.
                // EN - HELP We stop the form send by the browser
                event.preventDefault();

                // FR - HELP On recupére le parametre target de l'utilisateur (le site à crawl)
                // EN - HELP Get the parameter target of user (website to crawl)
                let target = $("#inputTarget").val();

                // FR - HELP On poste vers /process la site à crawl.
                // EN - HELP Send data to /process, the website to crawl
                $.post('{{ url_for('process') }}', {website: target}, function(data){


                    function poll(){
                        // FR - HELP On envoie une requête pour voir si le crawl est terminé.
                        // EN - HELP Send request to know if the crawl is done
                        $.post('{{ url_for('results') }}', {website: target}, function(response){

                            // FR - HELP Si response.result est "DONE", alors le crawl est terminé, et on peut afficher les resultats.
                            // EN - HELP If response.result is done, then, the crawl is done to and we can show the results
                            if (response.result === 'DONE'){
                                $('#saveData').attr('class', 'btn btn-light');
                                console.log(response);

                                // FR - HELP On remplie une liste avec les differents resultats.
                                // EN - HELP We collect the data and show it in list with the different results
                                $.each(response.data, function(index, value){
                                    $('#scrapdiv').append('  <li class="list-group-item">[' + value.status + '] ' + value.url + ' [Body Length : ' + value.len + ']</li>\n');
                                });

                                // FR - HELP On termine la boucle qui va chercher le bordel toutes les demi secondes.
                                // EN - HELP We close the while
                                window.clearInterval(interval)
                            }
                            else
                            {
                                // FR - HELP Le resultat n'est pas "DONE", le crawl est pas encore terminé.
                                // EN - HELP the result isn't done, the crawl isn't completed
                                console.log('Waiting data...');
                            }
                        })
                    }

                    // FR - HELP Toutes les demi-secondes, on appelle la fonction poll pour savoir si le crawl et terminé, et si un resultat est disponible.
                    // EN - HELP All half secondes, we call the function poll to know if the crawl are done and if we can get the results
                    let interval = setInterval(poll, 500);
                })

            });
        });

        $('#saveData').click(function(){
            var D = new Date();
            listCrawl = $('#scrapdiv');
            jsonObject = [];
            listElementCrawl = listCrawl.find('li');

            $.each(listElementCrawl, function(index, element){
                //console.log($(this).html());
                jsonObject.push({
                    'date':D.getTime(),
                    'month':D.getMonth(),
                    'day':D.getDate(),
                    'year':D.getFullYear(),
                    'target':$('#inputTarget'),
                    'content':$(this).html()
                });
            });
            data = JSON.stringify(jsonObject);

            $.ajax({
                url: '/savefile',
                type: 'POST',
                data: data,
                contentType: 'application/json;charset=UTF-8',
                cache:false,
                success: function (response) {
                    $("#returnResponse").html(response);    //your flask route needs to send back the html for just your list items
                },
                error: function(response){
                    alert('Error refreshing forum items')
                }
            });
            $('#modalSaveResult').modal('show');

            //let myBlob = new Blob(JSON.stringify(jsonObject), {type:'text/json'});

            console.log(jsonObject);
            /*listCrawl.children('li').forEach(function(element){
                jsonObject.push({
                    'url':element.html()
                });
            });*/
        });
    </script>
{% endblock %}