{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1>WebCrawler</h1>
        <small>Enter your target!</small>

        <form action="#" id="crawler">
            <div class="form-group">
                <label for="inputTarget" class="sr-only">Website Address :</label>
                <input type="text" name="website" id="inputTarget" class="form-control" placeholder="https://esgi.fr" required autofocus>
            </div>
            <button class="btn btn-danger" type="submit">Process!</button>
        </form>

    </div>
{% endblock %}
{% block javascript %}

    <script>

        /**
         * connect to the websocket flask-socketio and send the value of the url with the key "crawl_website"
         **/
        $(document).ready(function(){
            let socket = io.connect('http://' + document.domain + ':' + location.port + '/crawler');

            $( "#crawler" ).submit(function( event ) {
                event.preventDefault();
                socket.emit('crawl_website', {url: $("#inputTarget").val()})

            });
/*
            socket.on('processing', function(msg){
                function poll(){
                    socket.emit('poll_result', {});
                }
                let interval = setInterval(poll, 500);
            });
*/          /**
             * return the result of the websocket
             **/
            socket.on('result', function(msg){
                console.log(msg);
            });

            /*
            //receive details from server
            socket.on('newnumber', function(msg) {
                console.log("Received number" + msg.number);
                //maintain a list of ten numbers
                if (numbers_received.length >= 10){
                    numbers_received.shift()
                }
                numbers_received.push(msg.number);
                numbers_string = '';
                for (var i = 0; i < numbers_received.length; i++){
                    numbers_string = numbers_string + '<p>' + numbers_received[i].toString() + '</p>';
                }
                $('#log').html(numbers_string);
            });
            */
        });

    </script>
{% endblock %}