<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

</head>

<body>

<!-- Begin page content -->
<main role="main" class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">
            TOSLE Crawler is a open source. If you want, you can follow us on github to download the new version
            of our crawler ! You can also shared your settings and update to contributes with on this student project.
        </span>
        <div>
            <a href="https://tosle.fr">Visit our website</a> -
            <a href="https://github.com/Backins/python-esgi">Visit our crawler GitHub</a> -
            <a href="https://github.com/TOSLE/TOSLE-collaborators">Visit our TOSLE GitHub</a>
        </div>
    </div>
</footer>


<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='chartjs/dist/Chart.js') }}"></script>

{% block javascript %}{% endblock %}

</body>
</html>
